def Match_char(name1,name2):
    new_string=""
    for i in name1:
        for j in name2:
            if i==j:
                name1 = name1.replace(i,"",1)
                name2 = name2.replace(j,"",1)
                break
    print("After removing common chars in both names : ")
    print(name1)
    print(name2)
    new_string=name1+name2
    return new_string

def count_char(name):
    return len(name)
   
def Find_relation(list1,count):
    while (len(list1)>1):
        result=""
        c=count%len(list1)
        index=c-1
        if index>=0:
            left = list1[:index]
            right = list1[index+1:]
            list1 = right+left
        else:
            list1 = list1[:len(list1)-1]
        for i in list1:
            result=result+i
    return result
   
   
   
name1 = input("Enter name-1 : ").upper()
name2 = input("Enter name-2 : ").upper()
name1 = name1.replace(" ","")
name2 = name2.replace(" ","")
print("Entered name-1 is :",'"{}"'.format(name1))
print("Entered name-2 is :",'"{}"'.format(name2))
x=Match_char(name1,name2)
count=count_char(x)
print("Num of Matching characters count is: ",count)

list1=["Friends","Love","Affection","Marriage","Enemy","Sister"]
result=Find_relation(list1,count)
print("Relation between",name1.capitalize()," and ",name2.capitalize(),"is",'"{}"'.format(result))
